:root{
  --ochre: rgb(236, 217, 174);
  --red: rgb(234, 23, 23);
  --brown: rgb(121, 59, 30);
  --dark-brown: rgb(75, 33, 13);
  --blue: rgb(51, 82, 176);
  --blue-alpha: rgba(51, 82, 176, 0.85);
  --powder-white: rgb(253, 248, 238);
  --shadow: rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  line-height: 2;
}

html, body, h1, h2, h3, h4, p, button, input, select {
  color: var(--dark-brown);
  font-size: 100%;
  font-weight: normal;
  font-family: sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, a {
  white-space: nowrap;
}

input, select {
  color: var(--blue);
}

ul, ol {
  margin: 0;
  padding: 0;
}

.background {
  background-color: var(--ochre);
  background-image: url('/static/partridge.webp');
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: 106% 2vh;
}

.header-line {
  margin: 15px 250px 0 4vw;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#header {
  color: var(--brown);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

#subheader {
  margin: 0 auto 0 4vw;
  padding-top: 35px;
  color: var(--brown);
  font-size: 24px;
  font-weight: bold;
}

.big-text {
  color: var(--brown);
  font-size: 24px;
  font-weight: bold;
}

a.settings {
  padding-left: 20px;
  color: var(--blue);
}

.search-line {
  margin: 0 auto;
  padding: 10px 3vw 0;
  width: 96vw;
  height: 60px;
  background-color: var(--blue-alpha);
  border: 3px solid var(--powder-white);
  border-radius: 6px;
  box-shadow: 1px 2px 2px var(--shadow);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.button {
  cursor: pointer;
}

a.search {
  padding-right: 20px;
  color: var(--powder-white);
}

a:hover, input:hover {
  color: var(--red);
}

.content-box {
  margin: 10px auto 20px;
  padding: 15px 3vw;
  width: 96vw;
  background-color: var(--powder-white);
  border-radius: 6px;
  box-shadow: 2px 3px 2px var(--shadow);
  list-style-type: none;
}

#error {
  color: var(--red);
  font-size: 24px;
  font-weight: bold;
}

.hide {
  display: none;
}
