{% extends 'base.html' %}

{% block subheader %}
  {% block title %}
    Account Settings ({{ nickname }})
  {% endblock %}
{% endblock %}

{% block body %}
  <form class="content-box" method="POST">
    <div>Change User Name:</div>
    <input type="text" id="login" name="new_login" required><br>
    <button class="button" type="submit">Save</button><br>
  </form>
  <form class="content-box" method="POST">
    <div>Change Password:</div>
    <input type="text" id="passwd" name="new_password" required><br>
    <label for="passwd_rep">Repeat Password:</label><br>
    <input type="text" id="passwd_rep" name="new_password_rep" required><br>
    <button class="button" type="submit">Save</button><br>
  </form>
  <form class="content-box" method="POST">
    <div>Change E_mail:</div>
    <input type="text" id="e_mail" name="new_e_mail" required><br>
    <button class="button" type="submit">Save</button><br>
  </form>
  <a href={{ url_for('post_novel') }}>Publish new novel</a><br>
  <div>My novels:</div>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
