<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} | Partridge Quill</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body class="background">
    <div class="header-line">
      <header>
        <h1><a id="header" href={{ url_for('main_page') }}>Partridge Quill</a></h1>
      </header>
      <nav>
        {% if 'user_id' in session %}
          <a class="settings" href={{ url_for('account_settings') }}>Account settings</a>
          <a class="settings" href={{ url_for('user_profile') }}>User profile</a>
          {% if session.get('user_rights') == 'admin_' %}
            <a class="settings" href={{ url_for('administration_settings') }}>Administration settings</a>
          {% endif %}
          <a class="settings" href={{ url_for('logout') }}>Logout</a><br>
        {% else %}
          <a class="settings" href={{ url_for('register') }}>Register</a>
          <a class="settings" href={{ url_for('login') }}>Login</a><br>
        {% endif %}
      </nav>
    </div>
    <div class="search-line">
      <nav>
        <a class="search" href={{ url_for('search') }}>Novels</a>
        <a class="search" href={{ url_for('search') }}>Authors</a>
      </nav>
      <form class="search" action={{ url_for('search_results') }} method="POST">
        <input type="text" id="search" name="novel_name" placeholder="Search...">
        <button class="button" type="submit">></button>
      </form>
    </div>
    <section>
      {% block body %}{% endblock %}
    </section>
  </body>
</html>
