{% extends 'base.html' %}

{% block subheader %}
  <h2 class="subheader">
    {% block title %}
      Log In
    {% endblock %}
  </h2>
{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='form_submit_error_handling.js') }}"></script>
{% endblock %}

{% block body %}
  <form class="content-box" method="POST" id="login_form" onsubmit='handle_form_submit_errors(event, {{ url_for('login') | tojson }}, "error")'>
    <label for="login">User Name:</label><br>
    <input type="text" id="login" name="login" required><br>
    <label for="passwd">Password:</label><br>
    <input type="text" id="passwd" name="password" required><br>
    <div id="error" class="hide"></div>
    <button class="button" type="submit">Log In</button><br>
  </form>
{% endblock %}
