<html>
  <head>
  </head>
  <body>
    <div>Here should be the name of website...</div>
    <hr></hr><br>
    {% if logged_in %}
      <a href={{ url_for('account_settings') }}>Account settings</a>
      {% if rights == 'chief_admin_' or rights == 'admin_' %}
        <a href={{ url_for('administration_settings') }}>Administration settings</a>
      {% endif %}
      <a href={{ url_for('logout') }}>Logout</a><br>
    {% else %}
      <a href={{ url_for('register') }}>Register</a>
      <a href={{ url_for('login') }}>Login</a><br>
    {% endif %}
    <form action={{ url_for('novels_list') }} method="POST">
      <label for="search">Search:</label><br>
      <input type="text" id="search" name="novel_name" placeholder="Search novel"><br>
      <input type="submit" value="Search"><br>
    </form>
    <a href={{ url_for('search') }}>Advansed search</a>
  </body>
</html>
