{% extends 'base.html' %}

{% block header %}
  <h2>
  {% block title %}
    Search Results
  {% endblock %}
  </h2>
{% endblock %}

{% block body %}
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Author</th>
        <th>Genres</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <td><a href={{ url_for('novel', novel_id=row[0]['id']) }}>{{ row[0]['name'] }}</a></td>
        <td>{{ row[0]['rating'] }}</td>
        <td>{{ row[0]['author'] }}</td>
        <td>
          <table>
            <thead>
            </thead>
            <tbody>
              {% for rec in row[1] %}
                <tr><td>{{ rec['genre'] }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </td>
        <td>{{ row[0]['description'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
