{% extends 'base.html' %}

{% block subheader %}
  {% block title %}
    Publish Novel
  {% endblock %}
{% endblock %}

{% block body %}
  <form class="content-box" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="descr">Description:</label><br>
    <textarea type="text" id="descr" name="description" rows="10" required></textarea><br>
    <div>Genres:</div>
    {% for rec in genres %}
      <label for={{ rec['id'] }}>{{ rec['genre'] }}:</label>
      <input type="checkbox" id={{ rec['id'] }} name="genre" value={{ rec['id'] }}><br>
    {% endfor %}
    <button class="button" type="submit">Publish</button><br>
  </form>
{% endblock %}
