{% extends 'base.html' %}

{% block subheader %}
  <h2 class="subheader">
    {% block title %}
      {% if 'user_id' in session and session.get('user_rights') == 'admin_' %}
        Register Administrator
      {% else %}
        Register
      {% endif %}
    {% endblock %}
  </h2>
{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='form_submit_error_handling.js') }}"></script>
{% endblock %}

{% block body %}
  <form class="content-box" method="POST" id="reg_form" onsubmit='handle_form_submit_errors(event, {{ url_for('register') | tojson }}, "error")'>
    <label for="nickname">User Name:</label><br>
    <input type="text" id="nickname" name="nickname" required><br>
    <label for="passwd">Password:</label><br>
    <input type="text" id="passwd" name="password" required><br>
    <label for="passwd_rep">Confirm Password:</label><br>
    <input type="text" id="passwd_rep" name="password_rep" required><br>
    <label for="e_mail">E-mail:</label><br>
    <input type="text" id="e_mail" name="e_mail" required><br>
    <div id="error" class="hide"></div>
    <button class="button" type="submit">Register</button><br>
  </form>
{% endblock %}
