{% extends 'base.html' %}

{% block title %}
  User Profile ({{ nickname }})
{% endblock %}

{% block body %}
  <div class="tabs-box">
    <input type="radio" id="my_novels" name="tab" checked="checked">
    <label for="my_novels" class="subheader">My Novels</label>
    <ul id="my_novels" class="tab">
      {% for row in data %}
      <li class="content-box">
        <a class="big-link" href={{ url_for('novel', novel_id=row[0]['id']) }}>{{ row[0]['name'] }}</a>
        <p>Genres: {{ row[1] | join(', ', attribute='genre') }}</p>
        <p>Description:</p>
        <p>{{ row[0]['description'] }}</p>
        <p class="content-right">Rating: {{ row[0]['rating'] }}</p>
      </li>
      {% endfor %}
    </ul>

    <input type="radio" id="publish_novel" name="tab">
    <label for="publish_novel" class="subheader">Publish Novel</label>
    <div id="publish_novel" class="tab">
      <form class="content-box" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="descr">Description:</label><br>
        <textarea type="text" id="descr" name="description" rows="10" required></textarea><br>
        <div>Genres:</div>
        {% for rec in genres %}
          <input type="checkbox" id={{ rec['id'] }} name="genre" value={{ rec['id'] }}>
          <label for={{ rec['id'] }}>{{ rec['genre'] }}</label><br>
        {% endfor %}
        <button class="button" type="submit">Publish</button><br>
      </form>
    </div>
  </div>
{% endblock %}
