{% extends 'base.html' %}

{% block subheader %}
  <h2 class="subheader">
    {% block title %}
      User Profile ({{ nickname }})
    {% endblock %}
  </h2>
{% endblock %}

{% block body %}
  <div class="content-box">
    <a href={{ url_for('post_novel') }}>Publish new novel</a><br>
    <h3 class="big-text">My Novels</h3>
    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          {% for cell in row %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
